.DS_Store
Front/node_modules
node_modules
Front/dist
/prod
/db
# local env files
.env.local
.env.*.local

# Log files
Front/npm-debug.log*
Front/yarn-debug.log*
Front/yarn-error.log*
Front/package-lock.json*
# Editor directories and files
§Back.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.history